.hero {
    position: relative;
    padding-top: 80px;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 106px;
    z-index: -1;
    width: 100%;
    height: 48px;
    background: url(../img/Decor-big-icon.svg) repeat-x;
}

.hero-container {
    display: flex;
    gap: 28px;
    align-items: center;
}

.hero h1 {
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.hero h1 strong {
    color: #3596ed;
    font-weight: 600;
}

.hero-info .text {
    max-width: 440px;
    margin-bottom: 140px;
}

.hero-images {
    position: relative;
    display: flex;
}

.hero-choose {
    position: absolute;
    margin-top: 40px;
    margin-left: 50%;
    transform: translate(-50%);
    max-width: 161px;
    padding: 22px;
    border: 1px solid #535755;
    background: #ffffffe6;
    text-align: center;
}

.news-container {
    display: flex;
    gap: 28px;
}

.news-article {
    display: flex;
    flex-direction: column;
    border: 1px solid #d3cbd9;
    max-width: 284px;
    background-color: #fff;
    overflow: hidden;
}

.news-article img {
    display: block;
}

.news-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news-article footer {
    margin-top: auto;
    padding: 0 20px 20px;
}

.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news-link::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url(../img/Arrow.svg);
    transition: transform 0.2s;
}

.news-link:hover::after {
    transform: translatex(5px);
}

.faq {
    position: relative;
}

.faq::before {
    content: "";
    position: absolute;
    top: 215px;
    z-index: -1;
    width: 40%;
    height: 48px;
    background: url(../img/Decor-big-icon.svg) repeat-x;
}

.faq-container {
    display: flex;
    gap: 28px;
}

details[open] summary::after {
    transform: rotate(180deg);
}

details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 22px;
    background: url(../img/Arrow-2-icon.svg) no-repeat center / cover;
}

details > p {
    padding: 0 20px 20px 20px;
}