body {
    background-color: #252525;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: #5a5a5a;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    color: #07bb3d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box span {
    font-size: 40px;
    opacity: 0;
    font-family: sans-serif;
}

.sucсess__line {
    border-radius: 15px;
    position: absolute;
    top: -100px;
    left: -300px;
    right: 600px;
    height: 30px;
    background: #fff;
}

.box:hover {
    box-shadow: 0px 0px 30px #fdd360;
}

.box:hover .sucсess__line {
    right: -300px;
}

.box:hover span {
    opacity: 1;
}


/* ================================================================================== */

.box {
    transition: .3s .8s;
}

.box span {
    transition: .3s .8s;
}

.sucсess__line {
    transition-duration: 1s;
}