

article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.article-title {
    max-width: 596px;
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb-1 {
    margin-bottom: 80px;
}

.article-mb-2 {
    margin-bottom: 0px;
}

.article-decor-wrapper {
    position: relative;
}


.article-decor-wrapper-1::before {
    top: 100px;
    left: 0;
}

.article-decor-wrapper-2::before {
    right: 0;
    bottom: 136px;
}


.article-img-1 {
    width: 100%;
    margin-bottom: 80px;
}

.article-img-2 {
    width: 100%;
    margin-bottom: 40px;
}

.article-second-title {
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-list {
    margin-top: 0;
    padding-left: 16px;
    margin-bottom: 80px;
}

.article-item {
    margin-bottom: 14px;
}

.article-item::marker {
    color: #3596ED;
    font-size: 24px;
    padding-right: 8px;
}

.wrapper-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ED;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.wrapper-button:hover {
    background-color: #48a6f8;
}

.wrapper-button:active {
    background-color: #2a7bc2;
}
/* .article-video {
    width: 100%;
    margin-bottom: 40px;
} */

@media (width <= 768px) {
    .article-decor-wrapper::before {
        display: none;
    }

    .article-mb-1 {
        margin-bottom: 60px;
    }

    .article-second-title {
        font-size: 32px;
    }
}

@media (width <= 576px) {
    .article {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .article-second-title {
        font-size: 28px;
    }

    .article-mb-1 {
        margin-bottom: 40px;
    }

    .article-mb-2 {
        margin-bottom: 30px;
    }

    .wrapper-button {
        width: 50px;
        height: 50px;
    }

    .wrapper-button img {
        width: 20px;
        height: 20px;
    }

}