.hero {
    position: relative;
    padding-top: 80px;
}

.hero::before {
    bottom: 106px;
    width: 100%;
}

.hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.hero__info-title {
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.hero__info-title strong {
    color: #3596ed;
    font-weight: 600;
}

.hero__info {
    max-width: 492px;
}

.hero__info-text {
    max-width: 440px;
    margin-bottom: 140px;
}

.hero__info-images {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero__choose {
    position: absolute;
    margin-top: 40px;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    max-width: 161px;
    padding: 22px;
    border: 1px solid #535755;
    background: #ffffffe6;
    text-align: center;
}


.news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.news__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 284px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news__article-img {
    display: block;
}

.news__article-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news__article-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news__article footer {
    margin-top: auto;
    padding: 0 20px 20px;
}

.news__article-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news__article-link::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url(../img/Arrow.svg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.news__article-link:hover::after {
    -webkit-transform: translatex(5px);
    -ms-transform: translatex(5px);
    transform: translatex(5px);
}

.faq {
    position: relative;
}

.faq::before {
    top: 215px;
}

.faq__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 28px;
}

.faq__container-img {
    width: 492px;
    height: 531px;
}

details[open] summary::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
}

details:last-child {
    margin-bottom: 0;
}

summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "";
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 17px;
    height: 22px;
    background: url(../img/Arrow-2-icon.svg) no-repeat center / cover;
}

details>p {
    padding: 0 20px 20px 20px;
}

@media (width <=1440px) {
    .hero__info-images img {
        width: 50%;
    }
}

@media (width <=992px) {
    .hero::after {
        display: none;
    }

    .hero__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero__info {
        text-align: center;
    }

    .hero__info-title {
        margin-bottom: 30px;
        font-size: 52px;
    }

    .hero__info-text .text {
        margin-bottom: 30px;
        max-width: inherit;
    }

    .news__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 20px;
    }

    .news__article {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 350px;
    }

    .news__article img {
        width: 100%;
    }

    .faq::before {
        display: none;
    }

    .faq__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

}

@media (width <=768px) {
    .hero__info-title {
        font-size: 50px;
    }
}

@media (width <=576px) {
    .hero {
        padding-top: 60px;
    }

    .hero__info {
        max-width: 410px;
    }

    .hero__info-title {
        font-size: 42px;
    }

    .hero__choose {
        max-width: 125px;
        padding: 10px;
        font-size: 14px;
    }

    .news__article {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 400px;
    }

}