html {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.article-title {
    max-width: 596px;
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb {
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-img {
    width: 100%;
    margin-bottom: 80px;
}

.article-second-title {
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-list {
    margin-top: 0;
    padding-left: 16px;
    margin-bottom: 80px;
}

.article-item {
    margin-bottom: 12px;
}

.article-video {
    width: 100%;
    margin-bottom: 40px;
}